<div id="view-container">
  <div id="image-container">
    <figure>
      <img src="http://www.jaunted.com/files/3873/panda.jpg">
      <figcaption>Pandicken</figcaption>
    </figure>
  </div>

  <div id="rightbox">
    <h1 id="minilogo">
      pandachicken
    </h1>

    <div id="createform">

      <div class="createform-step">
        <input class="createform-input small" name="animal-1" id="animal-1" value="panda">
      </div>

      <div class="createform-step">
        <input class="createform-input small" name="animal-2" id="animal-2" value="chicken">
      </div>

      <div class="createform-step">
        <input class="createform-button small" type="submit" value="Remix!">
      </div>

    </div>
  </div>
</div>